# Build outputs
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results and logs
TestResults/
*.trx

# Dotnet artifacts
project.lock.json
project.fragment.lock.json
artifacts/

# Local publish output
dist-test/
dist/
KeyPlaybackApp/Assets/Icons/png/

# VS Code
.vscode/
